<head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <style>
        html, body {height: 100%;}
    </style> -->
</head>
<html>
    <head>
        {% if title %}
        <title>{{title}} - picTransform</title>
        {% else %}
        <title>Welcome to picTransform</title>
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
