{% extends "base.html" %}
{% block content %}
<body>
    <h3>Please upload your picture :)</h3>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <input type="submit" value="Upload" class="button-new" style="margin-top:15px;"/>
    </form>
    <h3>Your original picture is: </h3>
    <img src="{{ url_for('static', filename= './images/current.jpg') }}" width="200" alt="Your picture is missing..."/>
    <br>
    <h3>Your transformed picture is: </h3>
    <img src="{{ url_for('static', filename= './images/join.jpg') }}" width="200" alt="Your picture is missing..."/>
</body>
{% endblock %}
